Library/
Temp/
Logs/
obj/
UserSettings/
ignore.conf
lfs_files.txt
Unity.2D.Animation.Editor.csproj
Unity.2D.Animation.Runtime.csproj
Unity.2D.Common.Editor.csproj
Unity.2D.Common.Runtime.csproj
Unity.2D.IK.Editor.csproj
Unity.2D.IK.Runtime.csproj
Unity.2D.Path.Editor.csproj
Unity.2D.PixelPerfect.Editor.csproj
Unity.2D.PixelPerfect.csproj
Unity.2D.Psdimporter.Editor.csproj
Unity.2D.Sprite.Editor.csproj
Unity.2D.SpriteShape.Editor.csproj
Unity.2D.SpriteShape.Runtime.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.2D.Tilemap.Extras.Editor.csproj
Unity.2D.Tilemap.Extras.csproj
Unity.Burst.CodeGen.csproj
Unity.Burst.Editor.csproj
Unity.Burst.csproj
Unity.CollabProxy.Editor.csproj
Unity.InternalAPIEditorBridge.001.csproj
Unity.InternalAPIEngineBridge.001.csproj
Unity.Mathematics.Editor.csproj
Unity.Mathematics.csproj
Unity.PlasticSCM.Editor.csproj
Unity.Rider.Editor.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.csproj
Unity.Timeline.Editor.csproj
Unity.Timeline.csproj
Unity.VSCode.Editor.csproj
Unity.VisualScripting.Core.Editor.csproj
Unity.VisualScripting.Core.csproj
Unity.VisualScripting.Flow.Editor.csproj
Unity.VisualScripting.Flow.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Shared.Editor.csproj
Unity.VisualScripting.State.Editor.csproj
Unity.VisualScripting.State.csproj
Unity.VisualStudio.Editor.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.csproj
WhatUpGames.BehaviorTreeDebugger.csproj
WhatUpGames.BehaviorTreeVisualizer.Editor.csproj
core.csproj
PsdPlugin.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
.vs/
.vscode/
.vsconfig
.plastic/